#DlgBoxNAB_Layout_Cell11        { text-align: left; }
#DlgBoxNAB_Layout_Cell11 input  { margin: 0px 8px; }

#DlgBoxNAB_Layout_Cell13        { text-align: left; }

#DlgBoxNAB_Layout_Cell21 select { width: 334px; margin: 8px 0px; }

#DlgBoxNAB_Layout_Cell22        { text-align: center; }
#DlgBoxNAB_Layout_Cell22 button { margin: 4px 0px; }

#DlgBoxNAB_Layout_Cell23 select { width: 334px; margin: 8px 0px; }

#DlgBoxNAB_Layout_Cell31        { text-align: center; }
#DlgBoxNAB_Layout_Cell31 button { margin: 0px 4px; }

#DlgBoxNAB_Layout_Cell33        { text-align: center; }